@model Proje_Web.Models.Randevu

@{
    ViewData["Title"] = "Randevu olusturma";
}
<h4>Randevu olustur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group mb-3">

                <label class="fw-bold">Eğitmen</label>

                <select id="egitmenSelect" asp-for="Egitmen" class="form-select" asp-items="ViewBag.EgitmenList">

                    <option value="">-- Eğitmen Seçin --</option>

                </select>
                <span asp-validation-for="Egitmen" class="text-danger"></span>
            </div>



            <div class="form-group mb-3">

                <label class="fw-bold">Sunduğu Hizmetler</label>

                <select id="hizmetSelect" asp-for="HizmetTuru" class="form-select" disabled>

                    <option value="">-- Önce Eğitmen Seçin --</option>

                </select>
                <span asp-validation-for="HizmetTuru" class="text-danger"></span>
            </div>

        

            <div class="form-group">
                <label asp-for="RandevuTarihi" class="control-label"></label>
                <input asp-for="RandevuTarihi" class="form-control" />
                <span asp-validation-for="RandevuTarihi" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Randevu Al</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        document.getElementById("egitmenSelect").addEventListener("change", function () {

            var secilenIsim = this.value;

            var hizmetSelect = document.getElementById("hizmetSelect");



            // Seçim yapılana kadar hizmet kutusunu temizle ve kilitle

            hizmetSelect.innerHTML = '<option value="">Yükleniyor...</option>';

            hizmetSelect.disabled = true;



            if (secilenIsim) {

                // Controller adınızın 'Randevu' olduğundan emin olun

                fetch('/Randevu/GetHizmetlerByEgitmen?egitmenIsmi=' + encodeURIComponent(secilenIsim))

                    .then(response => response.json())

                    .then(data => {

                        hizmetSelect.innerHTML = '<option value="">-- Hizmet Seçin --</option>';



                        if (data.length === 0) {

                            hizmetSelect.innerHTML = '<option value="">Hizmet bulunamadı</option>';

                        } else {

                            data.forEach(hizmet => {

                                var opt = document.createElement('option');

                                opt.value = hizmet;

                                opt.text = hizmet;

                                hizmetSelect.appendChild(opt);

                            });

                            hizmetSelect.disabled = false; // Veri gelince kilidi aç

                        }

                    })

                    .catch(err => {

                        console.error("Hata:", err);

                        hizmetSelect.innerHTML = '<option value="">Bağlantı hatası!</option>';

                    });

            } else {

                hizmetSelect.innerHTML = '<option value="">-- Önce Eğitmen Seçin --</option>';

            }

        });

    </script>
}
